<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MultipleRouter.ClientServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="MultipleRouter.ClientWPF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MultipleRouter.ClientServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<userSettings>
		<MultipleRouter.ClientServer.Settings>
   <setting name="Pin" serializeAs="String">
    <value />
   </setting>
   <setting name="WalletAccountIdentifier" serializeAs="String">
    <value />
   </setting>
   <setting name="UploadBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownloadBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StorageSpace" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Initialized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StartupEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MacAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="IpAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="DeviceType" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UserNodeId" serializeAs="String">
    <value>00000000-0000-0000-0000-000000000000</value>
   </setting>
   <setting name="WalletAddr" serializeAs="String">
    <value />
   </setting>
   <setting name="Name" serializeAs="String">
    <value />
   </setting>
   <setting name="PeerID" serializeAs="String">
    <value />
   </setting>
   <setting name="TotalRunTimes" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalDataUploaded" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalDataDownloaded" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalDataTransferred" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IsDefaultReceiveNode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeviceOSUUID" serializeAs="String">
    <value />
   </setting>
  </MultipleRouter.ClientServer.Settings>
  <MultipleRouter.ClientWPF.Settings>
   <setting name="Pin" serializeAs="String">
    <value />
   </setting>
   <setting name="WalletAccountIdentifier" serializeAs="String">
    <value />
   </setting>
   <setting name="UploadBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DownloadBandwidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StorageSpace" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Initialized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StartupEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MacAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="IpAddress" serializeAs="String">
    <value />
   </setting>
   <setting name="DeviceType" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="UserNodeId" serializeAs="String">
    <value>00000000-0000-0000-0000-000000000000</value>
   </setting>
   <setting name="WalletAddr" serializeAs="String">
    <value />
   </setting>
   <setting name="Name" serializeAs="String">
    <value />
   </setting>
   <setting name="PeerID" serializeAs="String">
    <value />
   </setting>
   <setting name="TotalRunTimes" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalDataUploaded" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalDataDownloaded" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TotalDataTransferred" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IsDefaultReceiveNode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DeviceOSUUID" serializeAs="String">
    <value />
   </setting>
  </MultipleRouter.ClientWPF.Settings>
	</userSettings>
 <applicationSettings>
  <MultipleRouter.ClientServer.Settings>
   <setting name="APIOptions_Host" serializeAs="String">
    <value>https://api.app.multiple.cc</value>
   </setting>
   <setting name="STUNOptions_Host" serializeAs="String">
    <value>stun.app.multiple.cc</value>
   </setting>
   <setting name="TrackerOptions_Host" serializeAs="String">
    <value>https://tracker.app.multiple.cc/announce</value>
   </setting>
   <setting name="STUNOptions_Port" serializeAs="String">
    <value>50100</value>
   </setting>
  </MultipleRouter.ClientServer.Settings>
 </applicationSettings>
</configuration>